html
	head
		script(type='text/javascript' src="http://maps.google.com/maps/api/js?sensor=false")
		script.
			var badgeurls=null;
		script(type='text/javascript' src="/javascripts/dimpleMapScripts_v1.js")
		script(type='text/javascript' src="" + markersurl)
		link(REL="SHORTCUT ICON" HREF="favico.ico")
		style
			| #{stylestring}
		style
			| #poitable div{
			| display:table;
			| overflow:hidden;
			| background:inherit;
			| }
			| #poitable div a{
			| display:table-cell;
			| vertical-align:middle;
			| text-align:left;
			| background:inherit;
			| padding-top:10px;
			| padding-bottom:10px;
			| width:70px;
			| }
	body(style="text-align:center" onload="getAllDimplePOIs(#{projectId},#{iconsize});setDeviceId('generic_web_browser');")
		-if(isWirelessDevice==false){

			div(id="nwwrapper" style="width:800px;margin: 0 auto;text-align:center")
				include mapbody
		-}
		-else{
			include mapbody
		-}
				
