- if(typeof bannerasseturl !== 'undefined'){
	div(id='pageheader' class='pageheader')
		img(src="" + bannerasseturl style='margin-bottom:0px' width='100%')
	span(id='useridspan' width:10% style="float:right;tex-align:right")
- }
- else{
	div(id='pageheader' class='pageheader')
		span(width:"90%")
			h2
				| #{pagetitle}

		span(id='useridspan' width:10% style="float:right;tex-align:right")
-}
div(id='asset-assembly-title' class='asset-assembly-title')
	| #{title}
- if(typeof subtitle !== 'undefined'){
div(id='asset-assembly-subtitle' class='asset-assembly-subtitle')
	| #{subtitle}
- }