- if(typeof bannerasseturl !== 'undefined'){
	div(id='pageheader' class='pageheader')
		img(src=""+bannerasseturl  style='margin-bottom:0px;vertical-align:top;' width='100%' id='bannerimg')
	span(id='useridspan' width:10% style="float:right;tex-align:right")
- }
- else{
	div(id='pageheader' class='pageheader')
		span(width:"90%")
			h2
				|#{pagetitle}
		span(id='useridspan' width:10% style="float:right;text-align:right")
-}
