#dimplemap{
	height:600px;
}

.asset-assembly-title{
	display:none;
}

.infobox-wrapper{
	
}

div.infoBox img:first-child{
  width:20px;
  top:9px;
}

.comments {
  width:300px !important;
  height:110px;
	position:relative;
	display: inline-block; 
	vertical-align: top; 
	/*margin-left: 21px !important;*/ 
	background: #BCC2C4; 
	/*padding-top: 20px;*/
	border-radius: 3px; 
	-webkit-border-radius: 3px;
	 -moz-border-radius: 3px;
	  -o-border-radius: 3px; 
	  -ms-border-radius: 3px; 
	  margin-top:-14px;
	 /* position: absolute; 
	  bottom: 65px; */
	  z-index: -999; 
  }

.comments-before-down { height: 13px; width: 27px; background: transparent url("/images/marker-down-grey.png") no-repeat center top; background-size: 27px 13px; content: ' '; position: absolute; left: 147px; bottom: -12px; padding: 0 10px; }

.comments-before-up { height: 13px; width: 27px; background: transparent url("/images/marker-up-grey.png") no-repeat center top; background-size: 27px 13px; content: ' '; position: absolute; left: 137px; bottom: 100px; padding: 0 10px; }


#comments-content {
  background: white;
  height: 90%;
  margin-top: 2%;
  margin-left: 2%;
  width: 96%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.close-button{
    position:absolute;
      top:0px;
    left:280px
    
}

.close-button-img{
    width:20px;
  
}

.comment-comment{

  width: 55%;
  float: left;
  font-family: arial,Geneva,Helvetica,sans-serif;


}


.comment-img{
    width:40%;
    float:left;
    margin:1%;
    height:91%;
    overflow-y:hidden;
}

.comment-img-img{
   width:100% !important;
}

.comment-user{
    text-align:center;
    margin-top:5px;
    font-size:1.6em;
}



.comment-text{
    margin-top:8px;
    margin-left:8px;
    overflow: hidden;
  	height: 50px;
    font-size:1.3em;
    text-align:left;
    
}
.comment-text-text{
    /*margin-left:10px;*/
   
}


.disclosure-button{
	position:absolute;
	top:75%;
	left:91%;
  cursor:pointer;
  z-index: 100000000000;
}

.disclosure-button img{
  cursor:pointer;
  z-index: 100000000000;
  width:24px !important;
}



