.asset-assembly-title{
	display:none;
}

#poitable{
	padding-bottom:20%;
}

#poitable div{

	display:table;
	overflow:hidden;
	background:inherit;
	margin-left:30px;
}
#poitable div a{
	display:table-cell;
	vertical-align:middle;
	text-align:left;
	background:inherit;
	padding-top:10px;
	width:70px;
	padding-left:20px;
 }

 #poitable div a:hover{
  opacity:0.5;
  cursor: pointer;
}

 #poitable div h2{
 	display:table-cell;
 	vertical-align:middle;
 	padding-left:20px;
 }

  #poitable div h2:hover{
  opacity:0.5;
   cursor: pointer;
}

 #poitable div img{
 	width:70px;
 }