.lollipopman{
	/*position:relative;*/

}

.lmleft{
	width:50%;
	margin-left:auto;
	margin-right:auto;
	position:relative;
}

.lmleft img{
	width:100%;
}

#weathericondiv{
	position:absolute;
	top:11%;
	left:56%;
	background:#8CEEF2;
	border-radius:50%;
	display:none;
}

#weathericondiv:hover {
    
   
    border-style: solid;
    border-color: red;
}