div.text-item{
  margin-left:0px;
  padding-left:0px;
}

#asset-assembly-title{
	display:none;
}

#proggymat{
	position:absolute;
  width:100%;
  

}
.proggybgimg{
  width:100%;
}

#shrink{
  position:absolute;
  top:0px;
  right:0px;
  z-index:10000;
}

#shrink img{
  width:100px;
}

#shrink:hover{
  opacity:0.5
}

#grow{
  display:none;
  position:absolute;
  top:0px;
  right:0px;
  z-index:10000;
}

#grow img{
  width:100px;
}

#grow:hover{
  opacity:0.5
}

.proggypiece{
  width:100%;
	position:absolute;
	top:0;
	left:0;
}

.proggypiece img{
  width:100%;
}

.iconimage{
	position:absolute;
  z-index:10000;
}

.iconimage:hover{
	opacity:0.5
}


.comments { /*width: 34px !important;*/ 
  width:600px !important;
  height:220px;
	display: inline-block; 
	vertical-align: top; 
	/*margin-left: 21px !important;*/ 
	background: #BCC2C4; 
	/*padding-top: 20px;*/
	border-radius: 3px; 
	-webkit-border-radius: 3px;
	 -moz-border-radius: 3px;
	  -o-border-radius: 3px; 
	  -ms-border-radius: 3px; 
	  position: absolute; 
	  bottom: 65px; 
	  z-index: 11000; }

.comments-before-down { height: 13px; width: 27px; background: transparent url("/images/marker-down-grey.png") no-repeat center top; background-size: 27px 13px; content: ' '; position: absolute; left: 147px; bottom: -12px; padding: 0 10px; }

.comments-before-up { height: 26px; width: 54px; background: transparent url("/images/marker-up-grey.png") no-repeat center top; background-size: 54px 26px; content: ' '; position: absolute; left: 137px; bottom: 220px; padding: 0 10px; }


#comments-content {
  background: white;
  height: 90%;
  margin-top: 2%;
  margin-left: 2%;
  width: 96%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.close-button{
    position:absolute;
      top:0px;
    left:550px
    
}

.close-button:hover{
	opacity:0.5;
}

.close-button-img{
    width:50px;
  
}

.comment-comment{

 width: 50%;
  float: left;
  font-family: arial,Geneva,Helvetica,sans-serif;

}


.comment-img{
    width:40%;
    float:left;
    margin:1%;
    height:91%;
    overflow-y:hidden;
}

.comment-img-img{
   height:100%;
}

.comment-user{
     text-align:center;
    margin-top:5px;
    font-size:1.6em;
    line-height:1em;
}

.comment-user-username{
  font-size:110%;
}



.comment-text{
    margin-top:8px;
    overflow: hidden;
  	height: 100px;
    text-align:left;
    font-size:1.4em;
    line-height:1.1em;
    
}
.comment-text-text{
    margin-left:10px;
    float:left;
   
}